body{
  font-family: Helvetica,Arial,Sans-serif;
  background-color: #f4f4f4;
}

/*--------Structure ----*/
#main_title{
  text-align: center;
  color:#99CFDA;
}

#box_add_task{
  padding-top: 15px;
}

#task_container{
  margin: 0 auto;
  width: 600px;
  min-height: 400px;
  height: auto;
  padding: 20px;
  border: 1px solid #ccc;
  background-color: #fff;
}
/*-----Inputs------*/
#time{
  width: 60px;
}

#date{
  width: 120px;
}

/*-------Table-------------*/
#task_table{
  margin-top: 40px;
  width: 100%;
  border: 1px solid #ccc;
}

#task_table tr:nth-child(even){
  background-color: #99CFDA;
}

/*------Sentence to show total time of tasks---------*/
#title_total_time{
  text-align: center;
}
